{
	admin off
}

game.anguy.dev {
	encode gzip
	log {
		output stdout
		format json
	}

	@ws path /ws
	reverse_proxy @ws backend:8080 {
		transport http {
			versions h1
		}
	}

	reverse_proxy /api/* backend:8080
	reverse_proxy frontend:80
}
